/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Νοε 2014, 10:17:29 μμ
    Author     : Stelios
*/

.error {
    color:black;
    font-size: 15px;  
    font-family: Georgia;
}

.success {
    color:white;
    font-size: 15px;  
    font-family: Georgia;
}

textarea {resize:none;
	  text-align:left;}

.right {
    font-size: 14px;
    text-align: right;
    float: right;
    margin-right: 5%;
}

.right a{
    color: black;
    text-decoration: none;
}

.right a:hover{
    text-decoration: underline;
}

#graphics img {
	display: block;
	margin-top:1%;
        margin-bottom: 0.5%;
	margin-left:auto;
	margin-right:auto;
	width: 66%;
}

#login {
	background-image:url(../images/body.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
        margin-top: 0.5%;
	width: 66%;
	height: 700px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        font-family: Georgia;
}

#register {
	background-image:url(../images/body.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
        margin-top: 0.5%;
	width: 66%;
	height: 700px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        font-family: Georgia;
}

#add_offer {
	background-image:url(../images/body.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
        margin-top: 0.5%;
	width: 66%;
	height: 700px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        font-family: Georgia;
}

#login form {
	margin-left:6%;
}

#register form {
    margin-left: 6%;
}

#add_offer form {
    margin-left: 6%;
}


#menu {
	margin-left: 23%;  
}

#menu a {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:20px;
        text-decoration: none;
	color: #39B54A;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        padding-right: 3%;
        padding-left: 3%;
        font-weight: bold;
}

#menu a:hover {
        color: white;
        background-color: #39B54A;
        border-radius: 10px;
}

#here a{
    color: black;
    text-decoration: none;
}

#here a:hover{
    text-decoration: underline;
}

#button {
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #39B54A;
    border: solid 1px white;
    color: white;
    outline: none;
    font-family: Georgia;
}

#button:hover{
    color: #39B54A;
    background-color: white;
}

#password {
    margin-left: 6.5%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#username {
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

hr {
    margin-top: 350px;
}

#copyright {
    margin-left: 28%;
}

#reg_username {
    margin-left: 11.2%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#reg_display {
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#reg_password {
    margin-left: 17.8%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#reg_email {
    margin-left: 20%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#reg_phone {
    margin-left: 16%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#reg_city {
    margin-left: 21.5%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#reg_address {
    margin-left: 4.1%;
    width: 250px;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#reg_postal_code {
    margin-left: 1.8%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#info_lat {
    margin-left: 5.5%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#info_lng {
    margin-left: 6.3%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#hr2 {
   margin-top: 5.7%;
}

#hr3 {
  margin-top: 13.5%;  
}

#hr4 {
  margin-top: 12.9%;  
}

#gmaps_button {
    border-radius: 5px;
    background-color: #39B54A;
    border: solid 1px white;
    color: white;
    outline: none;
    font-family: Georgia;
    font-size: 18px;
}

#gmaps_button:hover {
    background-color: white;
    color: #39B54A;
}

#add_discount {
    margin-left: 3.6%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#demo2 {
   margin-left: 5.8%; 
   border-radius: 5px;
   outline: none;
   border: solid 1px white;
   font-family: Georgia;
}

#demo1 {
    margin-left: 3.1%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#add_cat_id {
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#add_offer_name {
    margin-left: 10%;
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#add_offer_descr {
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}

#add_price {
    border-radius: 5px;
    outline: none;
    border: solid 1px white;
    font-family: Georgia;
}