.error {
        color:black;
        font-size: 15px !important;
}

.success {
        color:white;
}

textarea {
        resize:none;
	text-align:left;
}

.right {
        text-align: right;
        float: right;
}

#graphics img {
	display: block;
	margin-top:1%;
	margin-bottom:0.5%;
	margin-left:auto;
	margin-right:auto;
	width: 66%;
}

#home {
        background-image:url(../../public/img/body.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
        margin-top: 0.5%;
	width: 66%;
	min-height: 630px;
}

#home_body {
        margin-left:6%;
        margin-right:6%;
}

#home_body p {
        font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:20px;
        color: white;
        font-weight: bold;
}

#home_body table {
        border:2px solid white;
	border-collapse:collapse;
}

#home_body th {
        font-family: Georgia;
        color: white;
        background-color: #009144;
        border:2px solid white;
	border-collapse:collapse;
        padding: 10px;
        text-align: center;
}

#home_body td {
        font-family: Georgia;
        color: white;
        background-color: #39B54A;
        border:2px solid white;
	border-collapse:collapse;
        padding: 10px;
        text-align: center;
        table-layout:fixed;
}

#login {
	background-image:url(../../public/img/body.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
        margin-top: 0.5%;
	width: 66%;
	height: 630px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        font-family: Georgia;
}

#login form {
	margin-left:6%;
}

#register form {
	margin-left:6%;
}

#update form {
	margin-left:6%;
}

#delete_offer form {
        margin-left:6%;
}

#add_offer form {
        margin-left:6%;
}

#login h5 {
        margin-left: 6%
}

#register {
	background-image:url(../../public/img/body.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
        margin-top: 0.5%;
	width: 66%;
	height: 630px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        font-family: Georgia;
}

#add_offer {
	background-image:url(../../public/img/body.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
        margin-top: 0.5%;
	width: 66%;
	height: 630px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        font-family: Georgia;
}

#delete_offer {
	background-image:url(../../public/img/body.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
        margin-top: 0.5%;
	width: 66%;
	height: 630px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        font-family: Georgia;
}

#update {
	background-image:url(../../public/img/body.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
        margin-top: 0.5%;
	width: 66%;
	height: 630px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        font-family: Georgia;
}

#menu {
	margin-left: 227px;  
}

#menu a {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:20px;
        text-decoration: none;
	color: #39B54A;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        padding-right: 2%;
        padding-left: 2%;
        font-weight: bold;
        margin-right: 21px;
}

#menu a:hover {
        color: white;
        background-color: #39B54A;
        border-radius: 3px;
}

#here a{
        color: black;
        text-decoration: none;
}

#here a:hover{
        text-decoration: underline;
}

#button {
        font-family: Georgia;
        font-size: 14px;
        font-weight: bold;
        padding-left: 125px;
        padding-right: 125px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 3px;
        background-color: white;
        border: solid 1px white;
        color: #39B54A;
        outline: none;
        margin-right: 20px;
}

#button:hover {
        color: white;
        background-color: #39B54A;
        cursor: pointer;
        border: solid 1px white;
}

#password {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 54px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#username {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 0%;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#footer {
        display: inline;
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:17%;
        margin-bottom: 0.5%;
	width: 66%;
        color: white;
        font-weight: bold;
        font-size: 16px;
        font-family: Georgia;
        background-color: #39B54A;
        display: inline-block;
        margin-top: 0.5%;
        padding-top: 15px;
        padding-bottom: 15px;
}

#copyright {
        margin-left: 6%;
}

#version {
        display: inline;
        margin-left: 40%;
        color: white;
}

#reg_username {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 93px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#reg_display {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 0%;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#reg_password {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 147px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#reg_email {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 164px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#reg_phone {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 131px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#reg_city {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 175px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#reg_address {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 40px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
        width: 250px;
}

#reg_postal_code {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 15px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#info_lat {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 45px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#info_lng {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 52px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#gmaps_button {
    border-radius: 3px;
    background-color: white;
    border: solid 1px white;
    color: #39B54A;
    outline: none;
    font-family: Georgia;
    font-size: 18px;
}

#gmaps_button:hover {
        color: white;
        background-color: #39B54A;
        cursor: pointer;
        border: solid 1px white;
}

#add_discount {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 46px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#demo2 {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 48px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#demo1 {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 26px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#add_cat_id {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 0px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#add_offer_name {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 85px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#add_offer_descr {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 0px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}

#add_price {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 18px;
        border-radius: 3px;
        outline: none;
        border: solid 1px white;
        font-family: Georgia;
}