/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Νοε 2014, 10:17:29 μμ
    Author     : Stelios
*/

.error {color:red;}

.success {color:green;}

textarea {resize:none;
	  text-align:left;}

.right {
    text-align: right;
    float: right;
}

#graphics img {
	display: block;
	margin-top:2%;
	margin-bottom:2%;
	margin-left:auto;
	margin-right:auto;
	width: 66%;
}


#login {
	background-image:url(../../public/img/body.png);
	background-repeat:no-repeat;
	background-size:100%;
	margin-top:2%;
	margin-left:auto;
	margin-right:auto;
	width: 66%;
	height: 900px;
}

#login form {
	margin-left:10%;
}

#menuu {
	margin-left: 12%;  
}

#menu a {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:20px;
        text-decoration: none;
	color: #39B54A;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        padding-right: 1%;
        padding-left: 1%;
        font-weight: bold;
}

#menu a:hover {
        color: white;
        background-color: #39B54A;
        border-radius: 10px;
}

a {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:20px;
        text-decoration: none;
	color: black;
	margin-left:6%;
	
}

